body {
    padding-top: 70px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Quicksand", sans-serif;
}

.container section {
    margin-bottom: 10vh;
}

h4 {
    margin-top: 30px;
}

h3 {
    margin-top: 40px;
}

.container {
    width: 60%;
    padding: 0px;
}

.container {
    text-align: justify;
}

.container ul {
    padding-left: 1em;
}


.table tr:first-child td, .table tr:first-child th {
    border-top: none;
}

#imgme {
    float: right;
    margin-left: 20px;
}

a.hiddenlink {
    color: #333;
}

a {
    color: #A80532;
}

a:hover {
    color: #A80532;
}

@media (max-width: 1191px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
